.carousel-product {
    height: 300px;
    background-color: #fafafa;
    
    position: relative;
  }
 .carousel-product .carousel-bg {
    background: url("../../../slider.png.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
 .carousel-product .carousel-pro-cap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .carousel-product  .carousel-pro-cap h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  .carousel-product  .carousel-indicators li {
    background-color: #fff;
    border: none;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-left: 5px;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  .carousel-product  .carousel-indicators .active {
    background-color: #000;
    opacity: 1;
  }
  .carousel-product  .carousel-inner .carousel-item {
    height: 500px;
  }
  .carousel-product  .carousel-inner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .carousel-product .carousel-slide{
    max-height: 400px;
  }
    .carousel-control-prev,
   .carousel-control-next {
    height: 50px;
    width: 50px;
    margin-top: -25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all 0.3s ease;
  }
   .carousel-control-prev:hover,
   .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
  }
    .carousel-control-prev {
    left: 50px;
  }
    .carousel-control-next {
    right: 50px;
  }
    .heading-custom-pro {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
    .heading-custom-pro h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
    .story-paragraph {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
    .container-custom1 {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }
    .pd-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
 